html, body {
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.row-header, .nav-bar, .row-footer {
    text-align: center;
}

.nav .nav-tabs {
    align-items: center;
    justify-content: center;
}

#titleOne, #titleTwo, #titleThree {

    width: 100%;
}

.centered {
    text-align: center;
}

.pad-top {
    padding-top: 3%;
}

.box {
    padding: 2%;    
}

.image-centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-left {
    margin: -30px;
    padding-top: 3%;
}

.border {
    border: 2px solid black;
}

.inline {
    position: relative;
    display: inline-block;
}

.pad {
    padding-left: 20px;
    padding-right: 10px;
}